.expense-filter {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  