@import 'src/assets/partials/_fonts.scss';


:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: "Inter";
    line-height: 1.5;
    font-weight: 400;
}
